<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FakeTube</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
  <style>
  * {
    text-align: center;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: center;
  }
  </style>
</head>
<body>

  <main>
    <div>
      <h1 class="title"> FakeTube </h1>
      
      @if(auth.isLoggedIn)
        <p>Bem-vindo {{ auth.user.name }} </p>
        <p> <a href="{{ route('videos/list') }}">Vídeos</a> </p>
        <p> <a href="{{ route('videos/history') }}">Vídeos vistos</a> </p>
        <p> <a href="{{ route('videos/latest') }}">Últimos vídeos</a> </p>
        <p> <a href="{{ route('users/edit') }}">Editar perfil</a> </p>
        <p> <a href="{{ route('sessions/delete') }}">Logout</a> </p>
      @else
        <p> <a href="{{ route('videos/list') }}">Vídeos</a> </p>
        <p> <a href="{{ route('videos/latest') }}">Últimos vídeos</a> </p>
        <p> <a href="{{ route('sessions/create') }}">Fazer login</a> </p>
        <p> <a href="{{ route('users/create') }}">Criar conta</a> </p>
      @endif
      <div class="footer">
        <p>Projeto desenvolvido por Leonardo Iglesias, Rafael Aranzate; 2022-2023. Orientado pelo professor Filipe Braida.</p>
      </div>
    </div>
  </main>
</body>
</html>
