@layout('layouts/main')
@set('title', 'Documents')
@set('subtitle', 'List:')



@section('body')
  @if(auth.isLoggedIn)
    <p>email: {{ auth.user.email }}</p>
  @endif
  
  <ul>
    @each(document in documents)
      <li>
         {{ document.id }} : <a href='{{ route("documents.show", { id: document.id }) }}'> {{ document.text }}  </a>
      </li>
    @end 

  </ul>
@end