<html>
    <head>
    </head>
    <body>
        <main>
            <a href='/'> Home </a>
            <form action="/videos" method="POST">
                <!--<label for="id">ID</label>
                <input type="number" name="id"/>-->
                <label for="video">Link do video</label>
                <input type="text" name="video"/>
                <label for="description">Description</label>
                <input type="text" name="description"/>
                <button type="submit">Enviar</button>
            </form>
        </main>
    </body>
</html>