<html> 
    <head>
        <title>RuralFlix</title>
    </head>
    <body>
        <main>
            <a href='/login'> Login </a>
            <a href='/register'> Registrar </a>
            <a href='/create'> Upload de video </a>
            <h1> Seja bem vindo ao RuralFlix</h1>
            <p>Videos diponiveis:</p>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">LISTA DE VIDEOS</th>
                    </tr>
                </thead>
                <tbody>
                    @each(video in videos)
                    <tr>
                        <td> {{video.id}} </td>
                        <td> <a href="{{video.video}}"> Video </td>
                        <td> {{video.description}} </td>
                    </tr>
                    @end
                </tbody>
            </table>
            
        </main>     
    </body>
</html>