<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Últimos vídeos</title>

  <style>
    html,
    body {
      background-color: aliceblue;
      background: linear-gradient(90deg, rgba(255, 166, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
      font-family: 'Poppins', sans-serif;
      height: 100vh;
      color: black;
      position: relative;
      text-align: center;
    }

    a {
      color: #e73e00;
      text-decoration: none;
    }


    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    div {
      background-color: aliceblue;
      max-width: 90%;
      width: 90%;
      height: 90%;
      padding: 20px;
      position: absolute;
      left: 50%;
      top: 5%;
      transform: translate(-50%, 0%);
      border-radius: 20px;
      text-align: left;
      display: table;
    }

    div h1 {
      text-align: center;
      color: black;
    }

    a.upload {
      cursor: pointer;
      position: absolute;
      width: auto;
      padding: 8px;
      right: 10px;
      background-color: #e73e00;
      color: aliceblue;
      border-radius: 20px;
    }

    a.upload:hover {
      background-color: rgb(116, 5, 5);
      color: rgb(160, 160, 160);
      transition: 250ms;
    }
  </style>
</head>

<body>
  <main>
    <div>
      <a href="{{ route('/') }}"><b>❮ Voltar</b></p> </a>
      <h1><a href="{{ route('home') }}"> FakeTube </a></h1>
      <br><br>
      <h2 class="title"> Últimos vídeos </h2>
      <br>
      @each(video in videos)
      <tr>
        <td>
          <a href="{{ route('videos/show', { id: video.id }) }}">
            <h3>{{ video.name }}</h3>
          </a>
          <b><p>Visualizações: {{ video.views}}</p></b>
          <i>{{ video.description }}</i>
          <br><br>
        </td>
      </tr>
      @end
    </div>
  </main>


</body>
</html>